@media (max-width: 2560px){
    body{
        width: 1440px;
    }
}

@media screen and (max-width: 1200px){
    .main-page{
        width: 1140px;
    }
}
@media (max-width: 1199px){
    body{
        width: 960px;
    }
}