body{
    
    width: 1440px;
    height: 1509px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.main-page{
    display: flex;
    overflow: hidden;
}
.block-brand{
    width: 100%;
    height: 1509px;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    display: flex;
    flex-direction: column;
    
}
.header-top{
    width: 80%;
    height: 36px;
    margin-top: 79px;
    padding-right: 110px;
    padding-left: 170px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    transition: background 0.1s ease;
    
}
.logo-image{
    width: 36px;
    height: 36px;
    background-size: cover;
    background-image: url(../img/Инфобезопасность.gif);
}
.links-row{
    margin-left: 44px;
    width: 347px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@font-face{
    font-family: "Gilroy-SemiBold"; /* Гарнитура шрифта */
    src: url(../fonts/gilroy-semibold.ttf); /* Путь к файлу со шрифтом */
}
.link-header-top{
    /* margin-right: 30px; */
    font-family: Gilroy-SemiBold;
    font-size: 12px;
}
.link-header-top-a{
    text-decoration: none;
    color: #B5B5B5;
}
.buttons-header{
    margin-left: 429px;
    display: flex;
    
    flex-direction: row;
    
}

.button-header-left{
    border-radius: 4px;
    width: 112px;
    height: 36px;
    background-color: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.button-header-left-1{
    border: 1px solid #F2994A;
    margin-right: 20px;
    border-radius: 4px;
    width: 112px;
    height: 36px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
@font-face{
    font-family: "Rubik"; /* Гарнитура шрифта */
    src: url(../fonts/Rubik-Regular.ttf);
}
.button-header-left a{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 11px;
    height: 100%;
    font-family: Rubik;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}
.button-header-left-1 a{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 11px;
    font-family: Rubik;
    text-decoration: none;
    color: #F2994A;
    font-size: 12px;
    font-weight: 500;
}
.block-brand__block-photo{
    display: flex;
    width: 724px;
    height: 580px;
    background-image: url(../img/Frame.png);
    position: absolute;
    right: 0;
    margin-top: 219px;
}
.block-brand__block-info{
    position: absolute;
    width: 531px;
    height: 580px;
    margin-left: 170px;
    margin-top: 250px;
    
}
@font-face{
    font-family: "Inter"; /* Гарнитура шрифта */
    src: url(../fonts/Inter-Regular.ttf);
}
.block-brand__info-name{
    height: 150px;
    font-family: Gilroy-SemiBold;
    color: #99EFD0;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    cursor: default;
}
.block-brand__info-project{
    width: 468px;
    height: 44px;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;
    margin-top: 19px;
    cursor: default;
}
.block-brand__buttons-header{
    display: flex;
    width: 334px;
    height: 46px;
    margin-top: 40px;
    flex-direction: row;
}
.button-brand-1{
    width: 157px;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    margin-right: 20px;
    overflow: hidden;
}
.button-brand{
    width: 157px;
    border: 1px solid #F2994A;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    
}
.button-brand-1 a{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: Rubik;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    padding-top: 15px;
}
.button-brand a{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: Rubik;
    color: #F2994A;
    font-weight: 500;
    font-size: 12px;
    padding-top: 15px;
    
}
.block-brand__info-vid{
    width: 540px;
    height: 80px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}
.video-pic{
    width: 140px;
    height: 80px;
    background-image: url(../img/Picture.png);
}
.block-brand__info-vid a{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.video-name{
    
    height: 80px;
    width: 380px;
    margin-left: 20px;
}
.video-name-info{
    font-family: Rubik;
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
    
}
.video-watch{
    margin-top: 6px;
    font-family: Rubik;
    font-size: 14px;
    line-height: 22px;
    color: #6D6D78;
}
.header-top_sticky_true{
    height: 42px;
    position: fixed;
    top: 0;
    margin-top: 0;
    padding-top: 3px;
    padding-right: 170px;
    padding-left: 170px;
    margin-bottom: 100px;
    z-index: 20;
    background: rgba(38, 23, 83, 0.9);
    transition: background 0.3s ease;
}
.block-choice{
    height: 1500px;
}
